spec {
    name "tracey"
    prefix "r"
    include "docs/spec/**/*.md"

    impl {
        name "main"
        include "crates/**/*.rs"
        include "crates/tracey/dashboard/src/**/*.ts"
        include "crates/tracey/dashboard/src/**/*.tsx"
        exclude "target/**"
    }
}
